*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

#main, #header{
    max-width: 100vw;
      padding: 0 2rem;
}

.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 1rem 0;
    padding-right: 3rem;
    box-sizing: border-box;
    z-index:1000;
}

.logo a{
    text-decoration: none;
    font-weight: 700;
    color: #FFB22C;
    font-size: 1.5rem;
}

.menu-toggle{
    display: none;
}

.hamburger-btn{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: none; 
    z-index: 999;
}

.hamburger-btn span{
    width: 24px;
    height: 3px;
    background: #111;
}

.nav-links{
    position: fixed;
    display: flex;
    font-size: 2rem;
    gap: 1rem;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #111;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    transition: right 0.3s ease;
    z-index: 998;
}

.nav-links li{
    width: 100vw;
}
.nav-links a:hover{
    background-color: #444;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100vw;
    padding: 1rem 0;
    text-align: center;
    transition: background-color 0.3s ease;
}

.menu-toggle:checked ~ .nav-links{
    right: 0;
}

.menu-toggle:checked ~ .hamburger-btn span{
    background: #fff;
}

#hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
    gap: 2rem;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
    font-size: 1.9rem;
    margin-bottom: 1rem;
    color: #111;
    }
    
.highlight-name{
    color: #FFB22C;
}

.hero-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: #333;
}

.hero-content-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.hero-content-buttons button {
    background-color: #111;
    color: #fff;
    border-radius: 10px;
    padding: 0.7rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
}

.hero-content-buttons button:hover {
    background-color: #444;
}

.hero-content-buttons button a {
    color: inherit;
    text-decoration: none;
}

.hero-image {
    background-image: url('assets/splash.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    max-width: 500px;
    height: 500px; 
    background-color: #ccc; 
    border-radius: 10px;
}

#about{
    margin-top: 3rem;
    text-align: justify;
}

#about h2{
    font-size: 5rem;
    margin: auto;
    text-align: center;
    color: #FFB22C;
}

.about-left-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}

.about-image{
    display: none;
}

.about-image{
    background-image: url('assets/drawnCharacter.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: auto;
}

#skills{
    margin-top: 3rem;
}

 #skills h2{
    font-size: 5rem;
    margin: auto;
    text-align: center;
    color: #FFB22C;
 }

.skills-title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1rem;
    margin: 2rem 0;
}

.carousel{
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.group{
    display: flex;
    animation: spin 30s infinite linear;
    justify-content: center;
    gap: 0.2rem;
    align-items: center;
    padding-right: 0.2rem;
}

.card{
    flex: 0 0 5em;
    height: 3em;
    width: 2em;
    padding: 0.1em;
    font-size: 2rem;
    text-align: center;
    align-content: center;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@keyframes spin{
    from{translate: 0;}
    to{translate: -100%;}
}

#projects{
    margin-top: 3rem;
}

#projects h2{
    font-size: 5rem;
    margin: auto;
    text-align: center;
    color: #FFB22C;
    margin-bottom: 1rem;
}

.project-container{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.project-card{
    width: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1rem;
    overflow: hidden;
    border-radius: 1rem;
}

.project-card h4{
    color: #FFB22C;
    font-size: 2rem;
    padding: 1rem 0;
}

.project-image{
    width: 100%;
    height: auto;
}

.project-tech-stack{
    border: 0.01rem solid #FFB22C;
    padding: 0.1rem 0.6rem;
    background-color: white;
    color:#FFB22C;
    border-radius: 2rem;
}

.project-tech-stack-container{
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2rem;
}

#contact{
    margin-top: 3rem;
}

#contact h2{
    font-size: 5rem;
    margin: auto;
    text-align: center;
    color: #FFB22C;
    margin-bottom: 1rem;
}

.contact-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.contact-container-right{
    padding: 2rem;
    font-weight: 700;
    margin: auto;
    font-family: "Bungee Shade", sans-serif;
    font-size: 4rem;
    display: none;
}

.contact-container-left{
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2rem;

}

.left-top{
    padding: 2rem;
    background-color: #FFB22C;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.left-mid-card{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-mid-card img{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.left-bottom{
    padding: 1rem 2rem;
}

.left-bottom-icons{
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.left-bottom-icons img{
    width: 2rem;
    height: 2rem;
}

#footer{
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap: 2rem;
}

.footer-left h2{
    font-size: 3rem;
    color: #FFB22C;
}

.footer-right a{
    display: block;
    text-decoration: none;
    color: black;
}

@media (min-width: 1200px) {
    
    #main, #header, .navbar{
      padding: 0 8rem;
    }
    
    .navbar{
        position: fixed;
        right: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .hamburger-btn{
        display: none;
    }

    .nav-links{
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
        font-size: 1.2rem;
        right: 0;
        transition: none;
        background: none;
    }

    .nav-links a:hover{
    background-color: white;
    color: #FFB22C;
    }

    .nav-links li{
    width: auto;
    }

    .nav-links a{
        color: black;
        padding: 0;
        display: inline;
        width: auto;
    }

    #hero {
    padding-top: 6rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .hero-content {
    flex: 1;
    text-align: left;
    max-width: 600px;
  }

  .hero-content h1{
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .hero-image{
    flex: 1;
    max-width: 500px;
    height: 550px;
  }

  .hero-content-buttons {
    justify-content: flex-start;
  }

  .hero-content p {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 4rem;
    color: #333;
    }

    .hero-content-buttons button{
        padding: 0.9rem 1.8em;
        font-size: 1.1rem;
    }

    .about-image{
        display: flex;
    }

    .about-description{
        font-size: 1.5rem;
    }

    .project-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    }
    .project-card img{
        transition: transform 2s ease;
    }

    .project-card img:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

    .contact-container-right{
        text-align: center;
        display: block;
        flex: 1;
    }

    #about, #skills, #projects{
        margin-top: 6rem;
    }

    .skills-title p{
        font-size: 2rem;
    }

    .carousel{
        margin-top: 3rem;
    }

    .contact-container-left{
        width: inherit;
    }

    #footer{
        padding: 2rem 8rem;
        gap: 6rem;
        justify-content: flex-start;
    }

    #footer{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .footer-left h2{
        font-size: 3rem;
        color: #FFB22C;
    }

    .footer-right a{
        display: block;
        text-decoration: none;
        color: black;
    }

    .footer-left .footer-right{
        width: 40vw;
        flex: 1 1 50%;
        align-items: flex-start;
    }
}